<div class="user-session">
  <% if admin_user_signed_in? %>  
    Signed in as: <%= current_admin_user.email %> <%= link_to "Sign out", destroy_admin_user_session_path, :class => 'button'%>
  <% end %>
</div>