#outer {
  position: relative;
  height: 300px;  
  background:#fff;
  overflow:auto;
  border:1px solid black;
}

#outer ul {
  height: 200px;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  margin:0;
  padding:0;
  width:180px;
  padding:0px 0 2px 0;
}

#outer li {
  list-style: none;
  white-space: nowrap;  
  width:155px;
  margin:0;
  padding:0px 5px;  
  display:block;
  overflow: hidden;
  text-overflow: ellipsis;  
}

#outer li.selected {
  background: #3b60f1;
  color:white;  
}

#unfolded ul {
  padding-left: 2em;
}