#outer {
  position: relative;
  height: 220px;  
  background:#fff;
  overflow:auto;
}

#outer ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin:0;
  padding:0;
  width:180px;
  padding:2px 0 2px 0;
}

#outer li {
  list-style: none;
  width:165px;
  margin:2px 0;
  display:block;
}

#outer li.selected {
  background: #3b60f1;
}

#outer li.selected a{
  color:white;
}

#outer a{
  display:block;  
  white-space: nowrap;
  padding:1px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width:140px;
}

#unfolded ul {
  padding-left: 2em;
}