




/*Main Menu*/
ul.columnview  {
  margin:0px;
  padding:0px; 
  background-color:#666;

}
ul.columnview li a{
  display:block;  
  white-space: nowrap;
  padding:3px;
  overflow: hidden;
  border:1px solid black;
  text-overflow: ellipsis;
}
ul.columnview .active a{
  background:#333;
}
ul.columnview a.targeted{
  background:blue;
}
ul.columnview  li {
  width:200px;
  height:25px; 
  list-style:none; 
  cursor:pointer; 
}

ul.columnview li a {color:#FFF;}

ul.columnview li.active { position:relative;}

/*Sub Menu*/
ul.columnview  ul {
  display:none; 
  position:absolute; 
  left:200px; 
  top:0px; 
}
ul.columnview li.active > ul {display:block;}

ul.columnview ul li { 
  float:left; 
  display:inline; 
}
 
.columnview li.active ul li ul {
  display:none;
}

ul.columnview  ul li ul {
  left:200px;
}
ul.columnview  ul li.active > ul {
  display:block;
}