<div class='nested-fields'>
  <%= f.inputs do %>
    <%= f.input :url_mask, :label => false,:hint => "Use a relative path. (/about-us/some-page or /about-us/* )", :wrapper_html => {:class => :mask_input } %>
    <%= link_to_remove_association "Remove Mask", f %>
  <% end %>
</div>