/* @override http://localhost:3000/stylesheets/cable/base.css */

body{ 
	padding-bottom:5em;
	background: #f2f2f2;
}
a{
	text-decoration:none;
	color: #2494fa;
}
a:hover{
	text-decoration:underline;
}

.box{
	background: white;
	padding: 10px;
}

.box.shadow{
	 -moz-box-shadow: 0px 2px 2px #ccc;
  -webkit-box-shadow: 0px 2px 2px #ccc;
          box-shadow: 0px 2px 2px #ccc;
}