/* @override http://localhost:3000/stylesheets/cable/formtastic_changes.css */

form.formtastic fieldset > ol > li.string input, 
form.formtastic fieldset > ol > li.password input, 
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input {
	font-size: 1.25em;	
	padding: .25em;
}



form.formtastic fieldset.buttons { padding-top:1em; }

.inline-hints {
	display: block;	
	clear: both;
}