/* @override http://localhost:3000/stylesheets/cable/menu.css */

#selection {
  margin-top:10px;
  background:#eee;
  padding:10px;
  border:1px solid #ccc;
}

#add-menu-tree1 {
  float:left;
  margin-right:10px;
}
 
div.tabs ul {list-style-type:none; padding-left:0}
#add-menu-tree {
  float:left; 
  margin-right:10px;
}

.cable_menu_wrapper {
	position: relative;
	height: 360px;
	overflow-x: scroll;
  overflow-y: hidden;
	margin-bottom: 1em;
	width:100%;
}

ul.cable_menu,
ul.cable_menu ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 340px;  
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 2px 0px 2px 2px;
	margin: 0;
	width: 170px;
	background:#fff;	
}
.cable_menu_wrapper li.has-children {
	width: 129px;
	padding: 4px 20px 4px 4px;
}
#resources-table tr:hover,
#types li:hover,
.cable_menu_wrapper li:hover{
	background-color: #f4f4f4;
	cursor: pointer;
}
.cable_menu_wrapper li{
	width: 145px;
}

#types li,
.cable_menu_wrapper li {
	padding: 4px 4px 4px 4px;
	white-space: nowrap;
	list-style: none;
	display: block;
	overflow: hidden;
	background-color: white;
	-webkit-border-radius: 3px;
	margin-bottom: 3px;
}
.cable_menu_wrapper li span.menu-zoom{
  display:inline-block;
  width:12px;
  height:12px;
  margin-top:2px;
	background: url(/images/cable/search.png) no-repeat right center;
	visibility:hidden;
	padding-right:6px;
}
.cable_menu_wrapper li:hover span.menu-zoom{
  visibility:visible;
}
.cable_menu_wrapper li:hover span.menu-zoom.root{
  visibility:hidden;
}
.cable_menu_wrapper li span.menu-title{
  text-overflow: ellipsis;
  width:110px;
  overflow:hidden;
  display:inline-block;
  padding-left: 5px;
}

#resources-table tr.selected td,
.cable_menu_wrapper li.selected.last,
.cable_menu_wrapper li.selected.last.has-children, 
#types li.selected{
  background-color: #2494fc;
	color: white;
}
.cable_menu_wrapper .selected {
	background: #ccc;
}

.current_selection {
	padding: 1em;	
	-webkit-border-radius: 4px;
	background: #ccc;
	margin-bottom: 1em;
}
.cable_menu_wrapper .ui-state-highlight{
  display:block;
  border: 2px solid #ffd47f;
  background: #ffbf3f;
  height: 10px;
	width: 141px;
}
.cable_menu_wrapper .has-children {
	background: #fff url(/images/cable/children.png) no-repeat right center;
}

.cable_menu_wrapper li.selected.has-children {
	background: #ccc url(/images/cable/children.png) no-repeat right center;
}

#add-menu{
  background-color:#eee;

  padding-left:0px;
  width: 114px; 
}
#add-menu a{ display:block; padding-left:30px; background:url(/images/cable/add.png) no-repeat left center; }
#add-menu:hover{
  background-color:#ddd;
}
ul.cable_menu.empty{
  background:url(/images/cable/empty-menu.png);
}
#save-tree{
  margin-bottom:1em;
}

#resources-data {
	padding: 0;
}

#search_resources{
	float: right;
	display: block;
	font-weight: normal;
}

#selected-resource {
	font-size: 1.25em;
	font-weight: bold;
}
#types {
	vertical-align: top;
	width: 200px;
	padding: 0;
}

#resources-table tbody .resource{
	width: 300px;
}

#types li{
	display: block;
	font-size: 1.25em;
	padding: .25em;
	border: 1px solid white;
}

#resources-table tbody {
	height:300px;
	display: block;
    overflow:auto;
}
li.m-hidden { color:#aaa; }
li.m-visible {}