.inline-search form.formtastic.search fieldset.inputs {
  float: left;
  padding: 0;	
  margin: 0;
  border-bottom: none;
}

#search_term {
	background:#ffffff; width:100%;-webkit-box-shadow:none;text-shadow:none; color:#000;
}

#search_submit{
display: none;
float: left;
}
.inline-search #search_submit {
	font-size: .75em !important;
}

.inline-search form.formtastic.search fieldset.inputs ol {
	border-bottom: none;
}

.inline-search form.formtastic.search fieldset.buttons {
	margin: 0;
	padding: 0;
	border-bottom: none;
}

.inline-search form.formtastic.search fieldset.buttons ol li.commit {
	margin: 0;
	padding: 0;
}

.inline-search {
	float: left;
	width: 260px;
}
.formtastic.search li { list-style-type:none;}

input#global_search{ font-size: 1.3em; color:#888; width:250px; height:20px; padding:2px; margin-top:5px; margin-bottom:5px;}
div.search label {font-weight:bold}
.search_type {display:block; float:right; color:#888; font-size:x-small;} 