/* @override http://localhost:3000/stylesheets/cable/tables.css */

thead th{
	background: #eee;
	border-bottom: 2px solid #ccc;	
}


tbody tr:nth-child(even) td, 
tbody tr.even td {
	background:#eee;
}

th.actions,
td.actions{
	text-align: right;
}