/* @override http://localhost:3000/stylesheets/cable/tables.css */
table{
	border-bottom: 2px solid #ccc;
	margin-bottom: 1em;
}
thead th{
	background: #ccc;
	border-bottom: 1px solid #bbb;	
	font-weight:bold;
	font-size:1em;
}
tbody th{
    background: #eee !important; border-right: 1px solid #BBB; border-bottom:1px solid #ddd;	
	font-weight:bold;
	font-size:1em;
	width:150px;
}


table td{
	border-right: 1px dashed #ccc;		
}

tbody tr:nth-child(even) td, 
tbody tr.even td {
	background: #eee;
}
tbody tr:last td{
	border-bottom:none;
}
th.actions,
td.actions{
	text-align: right;
	width:110px;
}
td.actions{
	padding: 5px;
}
tbody tr td:first-child{
  border-left: none;
}
tbody tr td:last-child{
	border-right: none;
}
