<%% content_for :sidebar do%>
  <ul id="menu-tree">
    <%% @<%= singular_table_name %>s.each do |menu| %>
    <li>
      <%%= link_to menu.title, [:admin, menu] %>
      <%%= raw display_tree_plain(menu.children, menu.id) %>
    </li>
    <%% end %>
  </ul>
<%% end %>