<fieldset>
  <li class="select optional" id="menu_cable_menuable_type_input">
    <label>Resource</label>
    <select id="menu_cable_menuable_id"  name="menu[cable_menuable_id]" MULTIPLE SIZE=10>
      <%% @resources.each do |resource| %>
        <option value="<%%= resource.id %>"> <%%= "#{resource.site.name} - #{resource.title}" %></option>
      <%% end %>
    </select>
  </li>
</fieldset>