<%% content_tag :li, :id => dom_id(menu) do %>
    <div>
      <%%= check_box_tag 'menus[]', menu.id %>      
      <span class="handle"><%%= menu.title %></span>
      <%% unless menu.show_in_menu %> <span style="color:red;">[Hidden]</span> <%% end %>
        <%%= menu.children.count %>
        <%%= link_to "Show", [:admin,menu], :class => "button small" %> <%%= link_to 'Edit', edit_admin_menu_path(menu), :class=>"button small" %>
        <%%= link_to 'Destroy', [:admin, menu], :confirm => 'Are you sure?', :method => :delete, :class=>"button small" %>
    </div>
    
    <%% content_tag :ul do %>
        <%% for child in menu.children do %>
            <%%= render :partial => "admin/menus/tree", :locals => {:menu => child }%>
        <%% end %>
    <%% end unless menu.leaf? %>
<%% end %>