<%% content_for :scripts do %>
  <%%= javascript_include_tag "jstree/jquery.jstree" %>
<%% end %>
<p>Drag and drop the menu to the desired order. When you drop the menu item in it's new location, it will be saved. Exercise caution as these changes are immediate.</p>
<p>If the menu is acting up, or not saving the correct sorting,  <%%= link_to "Rebuild the Menu", rebuild_admin_<%= plural_table_name %>_path, :class => "button small" %></p>
<div id="dialog">
  <div id="progressbar"></div>
  <div id="progress"></div>
  <div>Updating the menu and URLs. If the menu is large, this process can take up to 10 seconds. Please wait... </div>
</div>
<div id="dialog-delete">
  Deleting menus is currently disabled.
</div>
<div id="search">
    <label for="search">Search the menu</label>
    <input id="term" name="search" />
    <div id="sub" class="button small">GO!</div>
</div>

<%% @<%= plural_table_name %>.each do |root| %>
<div id="menu-tree">
  <ul>
    <li id="list_0" rel="root"><a><%%= root.title %></a>
      <ul>
        <%% root.each do |m| -%>
          <%% unless m.resource.blank? -%>          
            <li rel="<%%= m.resource.class.name %>" url="<%%= m.url %>" resource_url="<%%= url_for [:edit, :admin, m.resource] %>" id="list_<%%= m.id %>">
          <%% else -%>
            <li rel="<%%= m.resource.class.name %>" url="<%%= m.resource %>" resource_url="<%%= url_for [:admin, m] %>" id="list_<%%= m.id %>">
          <%% end -%>
            <a>
              <span><%%= m.menu_identifier %> <%%= m.title %> <strong><%%= m.show_in_menu %></strong></span>
              <%# if m.resource.blank? %>
                <%# m.menu_identifier %> <%# m.title %>
              <%# end %>
            </a>
            <%% if m.descendants %>
              <%%=raw display_tree(m.children, m.id) %> 
            <%% end %>
          </li> 
        <%% end %>
      </ul>
    </li>
  </ul>
</div>
<script type="text/javascript">
$(function () {
  $("#dialog").hide();
  $("#dialog-delete").hide();
  $("#sub").click(function () {
    term = $("#term").val();
    $("#menu-tree").jstree("search",term);
  });

  $("#menu-tree")
    .jstree({
      "core" : { 
        "initially_open" : [ "list_0" , "list_1" ] 
      },
      "types" : {
        "valid_children" : "all",
        "types" : {
          "root" : {
            "icon" : { 
              "image" : "http://static.jstree.com/v.1.0rc/_docs/_drive.png" 
            },
            "valid_children" : "all"
          },
          "default" : {
            "valid_children" : "all"
          },
          "SuccessStory" : {
            "icon" : { 
              "image" : "/images/admin/story-icon.jpg" 
            },
            "valid_children" : "all"  
          },
          "Page" : {
            "icon" : { 
              "image" : "/images/admin/page-icon.png" 
            },
            "valid_children" : "all"
          },
          "Product" : {
            "icon" : { 
              "image" : "/images/admin/product-icon.jpg" 
            },
            "valid_children" : "all"
          },
          "Event" : {
            "icon" : { 
              "image" : "/images/admin/event-icon.png" 
            },
            "valid_children" : "all"
          },
            "NilClass" : {
              "icon" : { 
                "image" : "/images/admin/nil-icon.png" 
              },
              "valid_children" : "all"
            },
          "default" : {
            "valid_children" : "all"
          }
        }
      },
      contextmenu: { 
        items: { 
          ccp: false,
          create: false,
          remove:{
            label: "Delete", 
            action: function (obj) {
              menu_id = obj.attr("id").replace("list_","");
              $( "#dialog-delete" ).dialog({
                resizable: false,
                height:160,
                modal: true,
                title: "Delete Menu Item",
                buttons: {
                  Bummer: function() {
                    $( this ).dialog( "close" );
                  }
                }
              });
            },
            seperator_after: false
          },
          rename: { 
            label: "Edit Menu Properties", 
            action: function (obj) {
              menu_id = obj.attr("id").replace("list_","");
              $.ajax({
                async: true,
                type: 'POST',
                url: "/admin/<%= plural_table_name %>/edit_remote",
                data : { 
                  "id" : menu_id
                },
                success : function(){

                }
              });

            }, 
            seperator_after: false
          },
          open_in_new_widnow:{
            label: "Edit Content",
            action: function (obj) {
              window.open(obj.attr("resource_url"));
            }
          },
          preview_in_template:{
            label: "Open in Template",
            action: function (obj) {
              window.open(obj.attr("url"));
            }
          },
          
        }
      },
      "plugins" : ["html_data", "themes", "dnd", "contextmenu", "ui", "types", "search"]
    })
    .bind("move_node.jstree", function (e, data) {
      
      $("#dialog").dialog({
        modal: true, 
        title: "Updating Menu",
        resizable: false, 
        dialogClass: 'alert',
        closeOnEscape: false,
        open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); }
      });
     
      data.rslt.o.each(function (i) {
        count = $(this).parent().children().size();
        done = 0;
        $(this).parent().children().each(function(m){
          parent = $(this).parent().closest("li").attr("id").replace("list_","");
          
          rgt = m +2;
          lft = m +1;
          $.ajax({
            async: true,
            type: 'POST',
            url: "/admin/<%= plural_table_name %>/update_tree",
            data : { 
              "id" : $(this).attr("id").replace("list_",""),
              "parent" : parent,
              "lft" : lft,
              "rgt" : rgt,
            },
            success : function(){
              done +=1;
              perc = done/count*100;
              $("#progressbar").progressbar({ value: perc });
              $("#progress").html(Math.round(perc)+"%");
              if(perc == 100){
                $("#dialog").fadeOut(function(){
                  $("#dialog").dialog("close");
                });
              }
            }
          });
        });

      });
    });
    
    $("#menu-tree").jstree("set_theme","apple");
    $('.button').button();
  });
</script>
