<%% content_for :scripts do %>
  <%%= javascript_include_tag 'cable_menu.js' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){  
      $('#menu').cable_menu();
    });
  </script>
<%% end %>

<ul id="menu">
  <%% @<%= plural_table_name %>.each do |m| -%>
    <li title="<%%= m.title %>" id="<%%= dom_id(m) %>">
      <%%= m.title %>
      <%% if m.location.descendants %>
          <%%= raw display_tree_plain(m.children, m.location.id) %>
      <%% end %>
    </li> 
  <%% end %>
</ul>