<%% content_for :scripts do %>
<%%= javascript_include_tag 'jquery.clickmenu' %>
<script>
$(document).ready(function(){  
  $('#menu-tree-list').clickMenu({arrowSrc:'/images/arrow-head.png', onClick:function(){
    var id = $(this).attr("id").replace("menu_", "");
    $("#parent").html("Moving to: "+$(this).attr("title"));
    $("#menu_parent_id").val(id);
    $('#menu-tree-list').trigger('closemenu');

    return false;
  }});
});
</script>
<%% end %>

<h2>Move Menu</h2>
<div id="parent">Select a parent</div><br />
<%%= semantic_form_for [:admin, @<%= singular_table_name %>] do |f| %>
  <%%= f.inputs do %>
    <%%= f.input :parent_id, :as => :hidden %>
    <%%= f.input :id, :as => :hidden %>
      <li class="select optional" id="menu_parent_id_input">
        <div style="width:100px;">
          <ul id="menu-tree-list">
            <li>Site Root <%%= image_tag "/images/arrow-head.png" %>
              <ul>
                <%% @<%= plural_table_name %>.each do |m| -%>
                  <li id="<%%= dom_id(m) %>" title="<%%= m.title %>"><%%= m.title %><%% if m.descendants %><%%= raw display_tree_plain(m.children, m.id) %><%% end %></li> 
                <%% end %>
              </ul>
            </li>
          </ul>
        </div>      
      </li>
    
  <%% end %>
  
  <%%= f.buttons %>
  
<%% end %>
