<table>
  <%% @<%= plural_table_name %>.each do |m|%>
    <tr>
      <td><%%= m.menu_identifier %></td>
      <td><%%= link_to m.name, [:admin, m] %></td>
      <td><%%= m.url %></td>
    </tr>
  <%% end %>
</table>