<script>
  $(document).ready(function(){
      $('.tabs').tabs();
  });
  function update_fields(id,type){
    $("#menu_cable_menuable_type").val(type);
    $("#menu_cable_menuable_id").val(id);
  }
  function update_resources(resource_type){
    $.ajax({
      type: 'POST',
      url: "/admin/menus/resources",
      data: {resource : resource_type},
      success: function(){
        console.log("Done");
      }
    });    
  }
</script>
  <div class="tabs">
    <ul>
      <li><a href="#resource">Resource</a></li>
      <li><a href="#menu">Menu</a></li>
    </ul>
  	<div id="resource">
    	    <h3>Select the type of resource would you like to under <%= @menu.title %>.</h3>
  	    <ul>
        <li>
          <table id="resources">
            <thead>
              <tr>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="types">
                    <ul>
                      <% @resource_types.each do |type| %> 
                        <li id="type_<%= type[0] %>"><%= link_to type[0], new_polymorphic_url([:admin,type[0].downcase], :location_id => @menu.location.id)  %></li>
                      <% end %>
                    </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        </ul>
    </div>
    <div id="menu">
        <h3>Create a menu item</h3>
        <%= render :partial => "edit_menus" %>
    </div>
  </div>
