<% @page_title = "Search Results"%>
<table>
    <thead>
        <tr>
            <th>Result</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <% @results.each do |result| %>
        <% begin %>
            <%= render :partial => "/admin/#{result.class.name.tableize}/search", :locals => {:result => result} %>
        <% rescue ActionView::MissingTemplate %>
            <%= render :partial => "admin/search/generic_search_result", :locals => {:result => result} %>
        <% end %>
        <% end %>
    </tbody>
</table>