<% flash.each do |key, message| %>
  <div class="messages box flash">
    <div class="flash-<%= key %>">
      <%= message %>
    </div>
  </div>
<% end %>
<% unless @content_for_form_errors.blank? %>
  <div class="messages box error">
      <%= yield :form_errors %>
  </div>
<% end %>